.blog {
    padding: 0 5% 2% 5%;
    .heading-text--sm,
    .heading-text--lg {
        text-align: center;
    }
    .heading-text--lg {
        margin-bottom: 5%;
    }

    .mySwiper {

        width: 100%;
        height: 100%;
        .blog-card {
            height: 65vh;
            border: 1px solid rgb(196, 195, 195);
            border-radius: 30px;
            .card-img {
                width: 100%;
                height: 50%;
    
                img {
                    width: 100%;
                    height: 100%;
                    border-top-left-radius: 30px;
                    border-top-right-radius: 30px;
                }
            }
    
            .card-text {
                display: flex;
                flex-direction: column;
                padding: 5%;
    
                .heading {
                    font-size: 1.4rem;
                    margin-top: 2%;
                    margin-bottom: 4%;
    
                    @media screen and (max-width:965px) {
                        font-size: 1.1rem;
                    }
                }
    
                .date {
                    color : gray;
                    margin-bottom: 4%;
                }
    
                .text {
                   color: gray;
                   font-size: 0.9rem;
                   margin-bottom: 5%;
                }
    
                .span {
                    display: flex;
                    flex-direction: column;
                    color: #2f75ca;
                    font-size: 0.9rem;
                    cursor: pointer;
                }
            }
        }
    }
    
}
.swiper {
    padding-bottom: 5%;

    @media screen and (max-width:680px) {
        padding-bottom: 10%;
    }
}
// .swiper-button-prev,.swiper-button-next {
//     background: #2f75ca;
//     color: #ffff;
//     height: 60px;
//     width: 60px;
//     border-radius: 50%;
//     top:45%;
// }


.swiper-pagination{
    bottom: 0 !important;
}
