.viewBlog {
    .allBlog{
            width: 100%;
        
        .allBlog__header {
            text-align: center;
            padding: 20px;
            width: 100%;
            background: green;
        }
        .allBlog__mainContainer{
            width: 100%;
            padding: 40px;
            display: grid;
            place-items: center;
            grid-template-columns: 2fr 2fr;
            gap: 30px;
            .allBlog__container {
                width: 100%;
                background: rgb(108, 108, 195);
                padding: 30px;
                border-radius: 10px;
    
                .allBlog__img {
                    border: 15px solid blue;
                    border-radius: inherit;
                    width: 100%;
                    object-fit: contain;
                }
            }

            @media screen and (max-width:1024px){
                grid-template-columns: 1fr;
            }
        }
    }
}