.viewBlog {
    .allBlog{
            width: 100%;
        
        .allBlog__header {
            text-align: center;
            padding: 30px;
            width: 100%;
            background: rgb(169, 166, 166);
            font-weight: 800;

        }
        .allBlog__mainContainer{
            width: 100%;
            padding: 40px;
            display: grid;
            place-items: center;
            grid-template-columns: 2fr 2fr;
            gap: 30px;

            .allBlog__container {
                width: 100%;
                background: rgb(169, 166, 166);
                padding: 30px;
                border-radius: 10px;
    
                .allBlog__img {
                    border: 15px solid rgb(210, 206, 206);
                    border-radius: inherit;
                    width: 100%;
                    object-fit: contain;

                    @media screen and (max-width:479px){
                        border: 5px solid rgb(210, 206, 206);
                    }
                }

                .allBlog__date {
                    color: rgb(34, 34, 34);
                    font-size: 1.1rem;
                    display: inline-block;
                    padding: 10px 0;
                }
                .allBlog__subHeader{
                    font-size: 600;
                    border-bottom: 2px solid rgb(210, 206, 206);
                }

                .allBlog_desc {
                    font-size: 1.1rem;
                    line-height: 1.6rem;
                    padding: 10px 0;
                    color: black;
                }

                .allBlog_read{
                    font-weight: 600;
                    cursor: pointer;
                }

                @media screen and (max-width:479px){
                    padding: 10px;
                }
            }

            @media screen and (max-width:1024px){
                grid-template-columns: 1fr;
            }

            @media screen and (max-width:479px){
                padding: 10px;
            }
        }
    }

    .singleBlogWrapper {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

        .singleBlog {
            border: 1px solid rgb(218, 215, 215);
            border-radius: 5px;
            margin: 50px 0;
            width: 80%;
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 40px;

            .singleBlog__img{
                border: 20px solid rgb(218, 215, 215);
                border-radius: inherit;
                width: 100%;
                
                @media screen and (min-width:1024px){
                    width: 70%;
                }
                @media screen and (max-width:1479px){
                    border: 5px solid rgb(218, 215, 215);
                }
            }
    
            .singleBlog__date{
                color: rgb(34, 34, 34);
                font-size: 1.1rem;
                display: inline-block;
                padding: 10px 0;
            }

            .singleBlog__subHeader {
                font-size: 600;
                padding: 5px;
            }

            .singleBlog_desc{
                width: 100%;
                font-size: 1.1rem;
                line-height: 1.6rem;
                padding-top: 10px;
                color: rgb(99, 99, 99);

            }
            
            @media screen and (max-width: 768px){
                padding: 20px;
            }

            @media screen and (max-width: 479px){
                padding: 10px;
                width: 90%;
            }
        }
        
    }

    button {
        margin: 40px auto;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 20px;
        width: 80%;
        padding: 17px;
        border: none;
        background: rgb(218, 215, 215);
        font-weight: 700;
        font-size: 1.2rem;

        &:hover {
            background: rgb(189, 187, 187);
        }
    }
}