.viewBlog {
    .allBlog{
            width: 100%;
        
        .allBlog__header {
            text-align: center;
            padding: 20px;
            width: 100%;
            background: rgb(169, 166, 166);
            font-weight: 800;
        }
        .allBlog__mainContainer{
            width: 100%;
            padding: 40px;
            display: grid;
            place-items: center;
            grid-template-columns: 2fr 2fr;
            gap: 30px;
            .allBlog__container {
                width: 100%;
                background: rgb(169, 166, 166);
                padding: 30px;
                border-radius: 10px;
    
                .allBlog__img {
                    border: 15px solid rgb(210, 206, 206);
                    border-radius: inherit;
                    width: 100%;
                    object-fit: contain;
                }

                .allBlog__date {
                    color: rgb(34, 34, 34);
                    font-size: 1.1rem;
                    display: inline-block;
                    padding: 10px 0;
                }
                .allBlog__subHeader{
                    font-size: 600;
                    border-bottom: 2px solid rgb(210, 206, 206);
                }

                .allBlog_desc {
                    font-size: 1.1rem;
                    line-height: 1.6rem;
                    padding: 10px 0;
                }

                .allBlog_read{
                    font-weight: 600;
                    cursor: pointer;
                }
            }

            @media screen and (max-width:1024px){
                grid-template-columns: 1fr;
            }
        }
    }
}