.userReview {
    width: 80%;
    display: flex;
    gap: 20px;
    margin: 50px auto;
    box-shadow: -4px 7px 24px -10px rgba(0,0,0,0.50);

    .reviewLeft{
        width: 50%;
        background: #d2caa2;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 30px;

        .reviewLeft__goBack {
            display: flex;
            font-weight: 700;
            cursor: pointer;
        }

        .reviewLeft__heading {
            font-weight: 700;
            font-size: 1.3rem;
            margin: 20px 0;
            color: rgb(76, 73, 73);
        }
        .reviewLeft__text {
            font-weight: 500;
            color: rgb(76, 73, 73);
            margin-bottom: 20px;
        }
        .review_img {
            width: 75%;
            height: 100%;

            @media screen and (max-width:1000px) {
                width: 80%;
                height: 100%;
            }
        }
    }
    .reviewRight{
        padding: 60px 30px;
        width: 50%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        gap: 10px;
        
        .starMainContainer{
            padding: 10px;
            margin-bottom: 20px;
            border-radius: 10px;
            box-shadow:  0 10px 15px -3px rgba(0,0,0,0.1),0 4px 6px -2px rgba(0,0,0,0.05);
            width: 60%;
            display: flex;
            flex-direction: column;
            align-items: center;

            p {
                color: rgb(173, 172, 172);
                margin-bottom: 20px;
                font-size: 1.2rem;
                
            }
            .starContainer{
                width: 100%;
                height: 100%;
                display: flex;
                list-style: none;
                display: flex;
                justify-content: center;
                gap: 10px;

                svg {
                    color: goldenrod;
                    font-size: 1.6rem;
                    cursor: pointer;
                }
            }

            @media screen and (max-width:1030px) {
                width: 80%;
            }
            @media  screen and (max-width:950px) {
                width: 100%;
            }
            
        }

        form {
            width: 100%;

            @media screen and (max-width:1030px) {
                width: 100%;
            }

            .reviewInput{
                width: 100%;

                textarea {
                    width: 100%;
                    padding: 20px;
                    font-size: 1rem;
                    border-radius: 10px;
                }
        
            }

            span {
                display: inline-block;
                color: black;
                margin-bottom: 10px;
            }
            .yellow {
                color: #e5a523;
            }
            
            button {
                width: 100%;
                margin-top: 20px;
                padding: 12px 0;
                font-size: 1.2rem;
                font-weight: 700;
                border-radius: 5px;
                border: none;
                color: #fff;
                background: rgb(154, 152, 152);
                transition: .3s ease-in-out;
                cursor: pointer;

                &:hover {
                    background: gray;
                }

                &:active {
                    box-shadow: inset 5px 5px 10px -3px rgba(0, 0, 0, 0.7);
                }
            }

            button:disabled {
                opacity: 0.65;
                cursor: progress;
              }
            .error {
                margin-top: 40px;
                padding: 5px 25px;
                border-radius: 10px;
                width: 100%;
                border: 1px solid rgb(208, 41, 41);
                background: rgb(245, 230, 230);
                p {
                    color: rgb(208, 41, 41);
                    text-align: center;
                    font-weight: 500;
                }
            }
        }
        
    }
    @media  screen and (max-width:722px) {
        justify-content: center;
    }
    
    @media  screen and (min-width:768px) {
        .reviewLeft {
            border-bottom-right-radius: 9999px;
        }
    }
    @media  screen and (max-width:768px) {
        flex-direction: column;

        .reviewLeft {
            width: 100%;
        }

        .reviewRight {
            width: 100%;
        }
    }

    @media screen and (max-width:479px){
        width: 100%;
        margin: 0 auto;
    }
}

.successWrapper {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}
