.userReview {
    width: 100%;
    height: 100vh;
    padding: 20px 40px;
    display: flex;
    gap: 50px;

    .reviewLeft{
        width: 45%;
        background: #d2caa2;
        border-bottom-right-radius: 60%;
        display: flex;
        justify-content: center;

        .review_img {
            width: 75%;
            height: 100%;

            @media screen and (max-width:1000px) {
                width: 80%;
                height: 100%;
            }
        }

        @media  screen and (max-width:722px) {
            display: none;
        }
    }
    .reviewRight{
        padding: 50px 0;
        width: 80%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        gap: 10px;
        h1 {
            color: rgb(101, 96, 96);

            @media  screen and (max-width:1040px) {
                font-size: 1.5rem;
            }

            @media  screen and (max-width:877px) {
                font-size: 1.3rem;
            }
            @media  screen and (max-width:772px) {
                font-size: 1.2rem;
            }
            @media  screen and (max-width:1040px) {
                font-size: 1.1rem;
            }
            
        }
        .starMainContainer{
            padding: 10px;
            border-radius: 10px;
            box-shadow:  0 10px 15px -3px rgba(0,0,0,0.1),0 4px 6px -2px rgba(0,0,0,0.05);
            width: 50%;
            display: flex;
            flex-direction: column;
            align-items: center;

            p {
                color: rgb(173, 172, 172);
                margin-bottom: 20px;
                font-size: 1.1rem;
                
            }
            .starContainer{
                width: 100%;
                height: 100%;
                display: flex;
                list-style: none;
                display: flex;
                justify-content: center;
                gap: 10px;

                svg {
                    color: goldenrod;
                    font-size: 1.6rem;
                    cursor: pointer;
                }
            }

            @media screen and (max-width:1030px) {
                width: 80%;
            }
            @media  screen and (max-width:530px) {
                width: 100%;
            }
            
        }

        form {
            width: 70%;

            @media screen and (max-width:1030px) {
                width: 100%;
            }

            .reviewInput{
                width: 100%;

                textarea {
                    width: 100%;
                    padding: 20px;
                    font-size: 1rem;
                    border-radius: 10px;
                }
        
            }

            span {
                color: black;
            }
            .yellow {
                color: #e5a523;
            }
            
            button {
                width: 100%;
                margin-top: 20px;
                padding: 10px 0;
                font-size: 1.2rem;
                border-radius: 10px;
                border: none;
                color: #fff;
                background: rgb(154, 152, 152);
                cursor: pointer;

                &:hover {
                    background: gray;
                }

                &:active {
                    box-shadow: inset 5px 5px 10px -3px rgba(0, 0, 0, 0.7);
                }
            }
        }

        @media  screen and (max-width:530px) {
            width: 90%;
        }
        
    }
    @media  screen and (max-width:722px) {
        justify-content: center;
    }
    
}
.reviewSuccess {
    width: 100%;
    padding: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;

    .reviewSuccess__emojiHolder {
        width: 100%;

        .thumbs-up {
            font-size: 5rem;
        }
    }
}
