.topbar {
    width: 100%;
    height: 50px;
    background-color: #ffff;
    position: sticky;
    top: 0;
    z-index: 50;

    .topbarWrapper {
        height: 100%;
        padding: 0px 20px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .topLeft{
            a {
                text-decoration: none;
                .logo {
                    font-weight: bold;
                    font-size: 30px;
                    color: darkblue;
                    cursor: pointer;
                }
            }
            
        }

        .topRight{
            display: flex;
            justify-content: space-between;
            align-items: center;

            .topbarIconContainer {
                position: relative;
                cursor: pointer;

                svg {
                    width: 35px;
                    height: 35px;
                }

                .topIconBag {
                    position: absolute;
                    top: -3px;
                    right: 1px;
                    background-color: red;
                    color: #ffff;
                    width: 15px;
                    height: 15px;
                    border-radius: 50%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    font-size: .8rem;
                }
            }

            .topAvatar {
                width: 40px;
                height: 40px;
                border-radius: 50%;
                object-fit: cover;
            }

            .topbar__menuIcon {
                margin-left: 10px;
                cursor: pointer;

                @media screen and (min-width:900px){
                    display: none;
                }
            }
        }
    }

    .topbar__menuList {
        position: fixed;
        top: 0;
        right: 0;
        background: rgb(220, 218, 218);
        width: 80%;
        height: 100vh;
        padding: 40px;
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;

        .topbar__closeMenu {
            svg {
                font-size: 1.5rem;
                color: black;
                cursor: pointer;
            }
        }

        ul {
            list-style: none;
        }

        .topbarWrapper {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;

            .topbarMenu {
                margin-bottom: 20px;

                .topbarTitle {
                    color: rgb(149, 147, 147);
                }

                .topbarList {
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    .topbarListItem {
                        padding: 5px;

                        svg {
                            color: black;
                            margin-right: 5px;
                        }
                    }
                }
            }
        }
        @media screen and (min-width:900px){
            display: none;
        }
    }
}