.property {
    width: 85%;
    padding: 20px;

    .propertyTitleContainer {
        display: flex;
        justify-content: space-between;
        align-items: center;
        .propertyTitle {

        }

        .propertyAddButton {
            width: 80px;
            border: none;
            padding: 5px;
            background-color: teal;
            color: #ffff;
            border-radius: 5px;
            cursor: pointer;
            font-size: 1rem;
        }
    }
    
    .propertyEditContainer {
        width: 100%;
        margin-top: 25px;
        padding: 20px;
        box-shadow:  0 10px 15px -3px rgba(0,0,0,0.1),0 4px 6px -2px rgba(0,0,0,0.05);

        .form {
            display: flex;
            justify-content: space-between;
            gap: 25px;
            width:100%;
            
            .propertyEditLeft {
                width: 50%;
                padding: 20px;

                .fl-holder {
                    width:100%;
                    margin-bottom: 30px;

                    input,textarea {
                        width: 100%;
                        border: none;
                    }
                    input:focus, textarea:focus, select:focus{
                        outline: none;
                    }

                    .label {
                        margin-bottom: 15px;
        
                        .form-label {
                            font-weight: 500;
                        }
                    }

                    .input-flex{
                        display: flex;
                        gap: 10px;
                        border-bottom: 1px solid gray;
        
                        span{
                            svg {
                                color: black;
                            }
                        }
                    }
                }
            }
            // .propertyEditRight {
            //     //width: 50%;
            //     display: flex;
            //         flex-direction: column;
            //         justify-content: space-between;
            //         //width: 50%;
            //         text-align: end;
            //         .userUpdateUpload {
            //             display: flex;
            //             align-items: center;
            //             .userUpdateImg {
            //                 width: 100px;
            //                 height: 100px;
            //                 border-radius: 10px;
            //                 object-fit: cover;
            //                 margin-right: 20px;
            //             }
            //             label {
            //                 svg {
            //                     font-size: 1.4rem;
            //                     cursor: pointer;
            //                 }
            //             }
            //         }
            //         .propertyUpdateButton {
            //             cursor: pointer;
            //             border-radius: 5px;
            //             border: none;
            //             background-color: rgb(59, 59, 195);
            //             color: #ffff;
            //             padding: 5px 10px;
            //             font-weight: 600;
            //         }
            // }

            .propertyEditRight{
                display: flex;
                flex-direction: column;
                justify-content: center;
                width: 40%;
                gap: 25px;

                .userUpdateUpload {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;

                    .userUpdateImgHolder {
                        .userUpdateImg {
                            width: 100px;
                            height: 100px;
                            border-radius: 10px;
                            object-fit: cover;
                            margin-right: 20px;
                        }
                    }
                    label {
                        svg {
                            font-size: 2rem;
                            cursor: pointer;
                        }
                    }
                }

                .propertyUpdateButton {
                    cursor: pointer;
                    border-radius: 5px;
                    border: none;
                    background-color: rgb(59, 59, 195);
                    color: #ffff;
                    padding: 10px 10px;
                    font-weight: 600;
                    font-size: 1rem;

                    &:active {
                        box-shadow: inset 5px 5px 10px -3px rgba(0, 0, 0, 0.7);
                    }
                }

                button:disabled {
                    opacity: 0.65;
                    cursor: progress;
                }

                .error {
                    padding: 3px 10px;
                    border-radius: 5px;
                    border: 1px solid rgb(208, 41, 41);
                    background: rgb(245, 230, 230);
                    p {
                        color: rgb(208, 41, 41);
                        text-align: center;
                        font-weight: 500;
                    }
                }
                .success {
                    padding: 3px 10px;
                    border-radius: 5px;
                    border: 1px solid green;
                    background: rgb(228, 240, 228);
                    p {
                        color: green;
                        text-align: center;
                        font-weight: 500;
                    }
                }

            }
        }
    }

    @media screen and (max-width:900px){
        width: 100%;
    }
}
.radioHolder {
    margin-top: 15px;
}
