
.featured {
    width: 100%;
    padding: 10px;
    //height: 30vh;

    .mySwiper {
        width: 100%;
        height: 100%;
        padding: 10px 0;
    }
}

.featuredItem {
    height: 100%;
    //margin: 0px 20px;
    padding: 10px;
    border-radius: 10px;
    cursor:pointer;
    box-shadow:  0 10px 15px -3px rgba(0,0,0,0.1),0 4px 6px -2px rgba(0,0,0,0.05);

    .reviewTextBold{
        color: black;
        font-weight: 700;

        .reviewTextLight {
            color: gray;
            font-weight: normal;
        }
    }
    .barAllHolder{
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 5px;
        margin-top: 20px;

        .barHolder {
            display: flex;
            width:100%;
            gap: 7px;

            span {
                color: gray;
            }
            .starRating{
                width: 4%;
            }
            .barGroupLeft {
                width: 26%;
                display: flex;
                gap: 5px;

                span {
                    width: 50%;
                }
                .starPercentage {
                    font-weight: 500;
                    color: black;
                }
            }

        }
    }
    .featuredTitle {
        font-size: 20px;
    }

    .featuredMoneyContainer {
        display: flex;
        align-items: center;

        .featuredMoney {
            font-size: 30px;
            font-weight: 600;
        }

        .featuredMoneyRate {
            display: flex;
            align-items: center;
            margin-left: 20px;

            .featuredIcon {
                font-size: 14px;
                margin-left: 5px;
                color: green;
            }
            .featuredIcon.negative {
                color: red;
            }
        }
    }
    .featuredSub {
        font-size: 15px;
        color: gray;
    }

    .messagesContainer {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 3px;
        position: relative;
        .messagesContainer__item {
            width: 90%;
            display: flex;
            justify-content: space-between;
            align-items: center;

            @media screen and (max-width:1040px){
                width: 100%;
            }
            .itemHeader {
                width: 65%;
                text-transform: uppercase;
                font-weight: 500;
                color: gray;
            }
            .itemNumber {
                width: 10%;
                color: #000;
            }
            a {
                width: 25%;
                display: flex;
                justify-content: center;
                align-items: center;
            }
            .itemButton {
                width: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                border: none;
                border-radius: 10px;
                padding:6px 10px ;
                color: gray;
                cursor: pointer; 
                gap: 5px;
                &:hover {
                    background-color: rgb(232, 228, 228);
                }
                svg {
                    font-size: 17px;
                }
            }
            .itemButton:disabled {
              opacity: 0.65;
            }
            .copyBtn {
                width: 25%;
            }

            .copyOrSend {
                width: 70%;
                height: 70%;
                position: absolute;
                padding: 20px 10px;
                display: flex;
                flex-direction: column;
                background: rgba(94, 116, 119, 0.45);
                backdrop-filter: blur(4px);
                -webkit-backdrop-filter: blur(4px);
                border-radius: 5px;
                font-weight: 600;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                z-index: 9999;

                svg {
                    color: #000;
                    align-self: flex-end;

                    @media screen and (max-width: 479px){
                        font-size: 2rem;
                    }
                }
                .btnHolder {
                    width: 100%;
                    height: 100%;
                    display: flex;
                    gap: 20px;
                    justify-content: center;
                    align-items: center;
                    
                    .btn {
                        padding: 5px;
                        width: 30%;
                        height: 60%;
                        border: none;
                        background: #186cd4;
                        border-radius: 10px;
                        display: flex;
                        gap: 5px;
                        align-items: center;
                        justify-content: center;
                        color: #fff;
                        font-weight: 600;
                        transition: .5s ease-in-out;
                        cursor: pointer;
                        &:active {
                            box-shadow: inset 5px 5px 10px -3px rgba(0, 0, 0, 0.7);
                            transition: none;
                        }

                        svg {
                            color: #fff;

                            @media screen and (max-width:479px){
                                display: none;
                            }
                        }
                        .sendBtn {
                            width: 100%;
                            height: 100%;
                            color: inherit;
                            text-align: center;
                        }

                        
                        @media screen and (max-width:479px){
                            width: 40%;
                            height: 80%;
                        }
                    }

                }

                @media screen and (max-width:479px){
                        width: 90%;
                }
            }

            .clipBoard-Tooltip {
                padding: 20px 10px;
                background: rgba(94, 116, 119, 0.45);
                backdrop-filter: blur(4px);
                -webkit-backdrop-filter: blur(4px);
                border-radius: 5px;
                display: flex;
                flex-direction: column;
                font-weight: 600;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                z-index: 9999;

                svg {
                    color: #000;
                    align-self: flex-end;
                }
                span {
                    color: #000;
                }

                @media screen and (max-width:370px){
                    width: 60%;
                    height: 40%;
                }
            }
        }
    }

    @media screen and (max-width:750px){
        margin-bottom: 10px;
    }
}