.app__navbar{
    width: 100%;

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 1rem 2rem;
    background: rgba(255, 255, 255 , 0.25);//0.25 opacity
    backdrop-filter: blur(4px); //blurry
    -webkit-backdrop-filter: blur(4px); //blurry
    border: 1px solid rgba(255, 255, 255, 0.18);
    position: fixed; //so it stays on-top
    z-index: 2;
}

.app__navbar-logo{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    img{
        width: 40px;
        height: 40px;

        @media screen and (min-width: 2000px) {
            width: 80px;
            width: 80px;
        }
    }

}

    .app__navbar-links {
        flex: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        list-style: none;
        li {
            display: flex;
            align-items: center;
            justify-content: center;
            margin: 0 1rem;
            cursor: pointer;
            flex-direction:column ;
            font-size: 0.8rem;
            font-family: Barlow;
            font-weight: 800;
              text-align: left;
              color: var(--gray-color);
              line-height: 1.5;
              @media screen and (min-width: 2000px) {
                font-size: 1.75rem;
            }
            div {
                width: 5px;
                height: 5px;
                background: transparent;
                border-radius: 50%;
                margin-left: 5px;
            }
            a {
                color: rgb(124, 121, 121);
                text-decoration: none;
                flex-direction: column;
                text-transform: uppercase;
                font-weight: 700;
                font-size: .9rem;
                transition: all 0.3s ease-in-out;
                &:hover {
                    color: rgb(54, 54, 175)
                }
            }
            &:hover {
                div{
                    background: rgb(29, 29, 191);
                }
            }
        }

        @media screen and (max-width: 900px){
            display: none;
        }
    }
    .navbarImgHolder {
        display: flex;
        gap: 5px;
        .navbarUserImg {
            width: 35px;
            height: 35px;
            border-radius: 50%;
            object-fit: cover;
        }
        .btn__holder {
            .btn__double {
                display: flex;
                gap:5px;
    
                .btnLogout {
                    width: 80px;
                    height: 35px;
                    padding: 5px 10px;
                    border: none;
                    background-color: transparent;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    &:hover {
                        border: #4373AF;
                        background-color: grey;
                        border-radius: 10px;
                        color: #ffff;
                        svg {
                            color: #ffff;
                        }
                    }
                }
                a {
                    text-decoration: none;
                    .btn {
                        width: 80px;
                        height: 35px;
                        padding: 5px 10px;
                        border-radius: 10px;
                        border: none;
                        background-color: #4373AF;
                        color: #ffff;
    
                        &:hover {
                            background-color: #6d8db5;
                        }
                    }
    
                    .btn1 {
                        width: 80px;
                        height: 35px;
                        padding: 5px 10px;
                        border: none;
                        background-color: transparent;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        &:hover {
                            border: #4373AF;
                            background-color: grey;
                            border-radius: 10px;
                            color: #ffff;
                            svg {
                                color: #ffff;
                            }
    
                        }
                    }
                }
            }
            .btn {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 80px;
                height: 30px;
                padding: 5px 10px;
                border-radius: 10px;
                border: none;
                background-color: darkgrey;
            }
        }
        @media screen and (max-width:900px){
            display: none;
        }
    }
    
.app__navbar-menuHolder {
    display: flex;
    gap: 10px;
    .navbarUserImg {
        width: 35px;
        height: 35px;
        border-radius: 50%;
        object-fit: cover;
    }
    .app__navbar-menu {
        width: 35px;
        height: 35px;
        border-radius: 50%;
        position: relative;
    
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: rgb(66, 66, 189);
        cursor: pointer;
        
        .navbarUserImg {
            width: 35px;
            height: 35px;
            border-radius: 50%;
            object-fit: cover;
        }
        svg {
            width: 70%;
            height: 70%;
            color: white;
          }
    
          div {
            position: fixed;
            top: 0;
            bottom: 0;
            right: 0;
            z-index: 5;
    
            padding: 1rem;
    
            width: 80%;
            height: 100vh;
            display: flex;
            justify-content: flex-end;
            align-items: flex-end;
            flex-direction: column;
            background: rgb(211, 208, 208);
            background-size: cover;
            box-shadow: 0px 0px 30px 4px rgba(0, 0, 0, 0.40);
    
            svg {
                width: 20px;
                height: 20px;
                color: black;
                margin: 0 0.5rem ;
            }
    
            ul {
                list-style: none;
                margin: 0;
                padding: 0;
                height: 100%;
                width: 100%;
    
                display: flex;
                justify-content: flex-start;
                align-items: flex-start;
                flex-direction: column;
    
                li {
                    margin: 1rem;
                    font-family: Barlow;
    
                    a {
                        color: rgb(12, 11, 11);
                        text-decoration: none;
                        font-size: 1rem;
                        text-transform: uppercase;
                        font-weight: 500;
                        display: flex;
                        justify-content: center;
                        align-items: center;
    
                        transition: all 0.3s ease-in-out;
    
                        &:hover {
                            color: rgb(77, 73, 73);
                        }
                    }
                }
            }
          
            @media screen and (min-width: 900px) {
                display: none;
              }
        }
    
    }
    @media screen and (min-width: 900px) {
        display: none;
      }
}
