.signup {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    .form-container {
        box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
        height: 90vh;
        width: 50vw;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        @media screen and (max-width:700px){
                width:70vw
        }
        // @media screen and (max-width:470px){
        //         width:80vw
        // }
        @media screen and (max-width:470px){
                width:80vw
        }
    
        .form-text {
            font-weight: 800;
            font-size: 1.5rem;
            margin-top: 40px;
        }
    
        .form-holder {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin-top: 20px;
            width: 70%;
    
            .fl-holder {
                width: 100%;
    
                input {
                    width: 100%;
                    border: none;
                }
                input:focus, textarea:focus, select:focus{
                    outline: none;
                }
    
                .label {
                    margin-bottom: 15px;
    
                    .form-label {
                        font-weight: 500;
                    }
                }
        
                .input-flex{
                    display: flex;
                    gap: 10px;
                    border-bottom: 1px solid gray;
    
                    span{
                        svg {
                            color: black;
                        }
                    }
                }
            }
            .fl-holder:not(:last-child){
                margin-bottom: 15%;
            }
    
            button {
                width: 60%;
                height: 35px;
                padding:5px 0;
                border: none;
                border-radius: 10px;
                background-color: rgb(160, 159, 159);
                color: white;
    
                &:hover{
                    background-color: rgb(117, 115, 115)
                }
                @media screen and (min-width:750px){
                        font-size: 1.1rem;
                }
            }
            
        }
    
    }
}
