.latest {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5%;

    .cardWrapper {
        margin: 30px 5px;
        display: flex;
        gap: 20px;
        width: 90%;

        .card__holder {
            width: 100%;
            border-radius: 30px;
            box-shadow:  0 10px 15px -3px rgba(0,0,0,0.1),0 4px 6px -2px rgba(0,0,0,0.05);
            position: relative;

            .card__holder_relative {
                width: 100%;
                height: 400px;

                .card__imgHolder {
                    width: 100%;
                    height: 50%;

                    img {
                        border-top-right-radius: 30px;
                        border-top-left-radius: 30px;
                        width: 100%;
                        height: 100%;
                    }
                }

                .card__allDescHolder {
                    height: 50%;
                    padding: 10px 20px;
                    display: flex;
                    flex-direction: column;

                    .card__restHolder {
                        flex: 2;
                        display: flex;
                        gap: 5px;
                        justify-content: space-between;
                        align-items: flex-start;

                        .card__restHolder-sub {
                            margin-bottom: 10px;

                            .property-location {
                                display: flex;
                                align-items: center;
                                margin: 15px 0;

                                span {
                                    svg {
                                        font-size: 1rem;
                                    }
                                }
                            }
                        }

                        .property-price__Holder {
        
                            span {
                                color: #4373AF;
                                font-weight: 500;
                            }
                        }
                    }

                    .card__footer {
                        flex: 1;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;

                        .card__view {
                            display: flex;
                            border-top: 1px solid rgb(228, 226, 226);

                            span {
                                svg {
                                    font-size: 1.5rem;
                                    color: gray;
                                    cursor: pointer;
                                    margin-top: 10px;

                                }
                            }
                        }
                    }
                }
            }

            .onSale {
                position: absolute;
                padding-top: 5%;
                padding-right: 5%;
                top: 0;
                right: 0;
                
                p {
                    background: RGBA(67,115,175,0.75);
                    color: #ffff;
                    padding: 8px 12px;
                    border-radius: 8px;
                    font-size: 0.8rem;
                    backdrop-filter: contrast(0.5); //blurry
                    -webkit-backdrop-filter: contrast(0.5); //blurry
                }
            }
        }
        @media screen and (max-width:1024px){
            .card__holder:last-child {
                display: none;
            }
        }
        
        @media screen and (max-width:860px){
            flex-direction: column;
            width: 45%;
        }
        @media screen and (max-width:600px){
            width: 70%;
        }
    }

}