.widgetLg {
    position: relative;
    width: 65%;
    box-shadow:  0 10px 15px -3px rgba(0,0,0,0.1),0 4px 6px -2px rgba(0,0,0,0.05);
    padding: 20px;

    @media screen and (max-width:1200px){
        width: 50%;
    }

    .widgetLgTitle {
        font-size: 1.1rem;
        font-weight: 700;
        margin-bottom: 20px;
        text-transform: uppercase;
    }

    .adminMessageCreateBtn {
        width: 80px;
        border: none;
        padding: 5px;
        background-color: teal;
        color: #ffff;
        border-radius: 5px;
        cursor: pointer;
        font-size: 1rem;
        margin-bottom: 5px;

        &:hover {
            background-color: rgb(7, 151, 151);
        }
    }

    @media screen and (max-width:900px){
        width: 100%;
    }
    @media screen and (max-width:480px){
        padding: 20px 10px;
    }

}