.contact {
    background: rgb(3, 2, 2);
    width: 100%;
    height: 60vh;
    padding: 5%;
    color: #ffff;
    display: flex;
    flex-direction: column;

    .main-wrapper {
        // display: flex;
        // justify-content: space-between;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1.5fr;
        gap: 20px;
        height: 80%;
        .wrapper {
            height: 100%;
            width: 100%;

            .caption {
                font-size: 1.1rem;
                font-weight: 700;
                margin-bottom: 20px;
            }
            .astract-col {
                color: rgb(159, 157, 157);
            }
            .quick-links {
                font-size: 1.2rem;
                cursor: pointer;
                margin-bottom: 10px;

                // &:not(:last-child) {
                //     margin-bottom: 10px;
                // }
            }
        }

        .contact_handle {
            .logo {
                height: 100%;

                p {
                    padding-bottom: 40px;
                }
                .icons {
                    display: flex;
                    gap: 15px;
                    svg {
                        color: #fff;
                        font-size: 1.2rem;
                    }
                }
            }
        }
        .contact_newsletter {
            form {
                display: flex;
                flex-direction: column;

                .emailInputHolder {
                    display: flex;
                    border-bottom: 1px solid rgb(159, 157, 157);

                    span {
                        margin-left: 10px;
                        svg {
                            font-size: 1.5rem;
                            color: #ffff;
                        }
                    }
                    input {
                        width: 100%;
                        border: none;
                        background-color: inherit;
                        color: #ffff;
                        padding: 10px 15px;
                        font-size: 1rem;
                    }
                    input:focus, textarea:focus, select:focus{
                        outline: none;
                    }
                }
                

                button {
                    margin-top: 10px;
                    padding: 13px 15px;
                    background-color: gray;
                    color: #ffff;
                    border-radius: 5px;
                    font-size: 1rem;
                    font-weight: 700;

                    &:hover {
                        background-color: rgb(210, 209, 209);
                        color: black;
                    }
                }
                .success {
                    padding: 3px 10px;
                    border-radius: 5px;
                    border: 1px solid green;
                    background: rgb(228, 240, 228);
                    p {
                        color: green;
                        text-align: center;
                        font-weight: 500;
                    }
                }
            }
        }
    }

    .copyright {
        height: 20%;
        border-top: 1px solid #ffff;
        display: flex;
        align-items: flex-end;
        justify-content: center;

        .astract-col {
            color: rgb(159, 157, 157);
            display: flex;
            justify-content: center;
            align-items: center;

            svg {
                color: rgb(159, 157, 157);
            }
        }
    }
    
}