.button {
    padding: 2% 0;
    button {
        width: 100%;
        padding: 9px 40px;
        border-radius: 20px;
        border: 1px solid #4373AF;
        background: #ffff;
        color: #4373AF;
        font-size: 1rem;
        cursor: pointer;
        transition: all 0.3s ease-in-out;

        &:hover {
            background: #4373AF;
            color: #ffff;
        }
    }
}