// *,
// *::after,
// **::before{
//     margin: 0;
//     padding: 0;
//     box-sizing: border-box;
// }

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.app {
    padding: 0 20px;
}