.newBlog {
    width: 85%;
    padding: 20px;
    display: flex;

    .newBlog__generate{
        width: 100%;
        display: flex;

        .newBlog__left {
            padding: 10px;
            width: 40%;
            box-shadow:  0 10px 15px -3px rgba(0,0,0,0.1),0 4px 6px -2px rgba(0,0,0,0.05);

            .generateImgForm {
                width: 100%;

            }
        }
    }
}