.container {
    //padding: 40px;

    .parent {
        background-image: linear-gradient(to bottom, black 50%, #ffff 50%);

        &::after {
            content: '';
            display: block;
            justify-content: center;
            min-height: 100vh;
        }

        .child {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            min-height: 100vh;
            position: sticky;
            top: 1vmin;
            mix-blend-mode: exclusion;

            h2 {
                color: #ffff;
                font-size: 15vmin;
                font-family: ptsans;
                text-transform: uppercase;
            }

            .type_about {
                color: #ffff;
                font-size: 2rem;
                font-weight: 600;
                font-family: catamaran;
                padding: 20px 40px;
                text-transform: lowercase;
            }

            span {
                
                svg {
                    color: #ffff;
                    font-size: 1.5rem;
                    margin-top: 15px;
                    cursor: pointer;
                }
            }
        }
    }

    .container__sub {
        padding: 40px;
        font-size: 1.2rem;
        white-space: pre-line;
        font-weight: 600;
        color: rgb(82, 81, 81);

        .sub-container {
            display: flex;
            flex-direction: column-reverse;
            margin-bottom: 40px;
            gap:20px;
    
            &__text {
                width: 100%;
                display: flex;
                flex-direction: column;
                align-items: center;
    
                @media screen and (max-width:679px){
                    justify-content: center;
                    text-align: center;
                    width: 100%;
                }
                
                .sub-container__bold {
                    margin: 20px;
                }
                p {
                    
                }
            }

            &__img {
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 20px;

                .photo {
                    width: calc((100%/3) - ( 40px/3));
                    height: 300px;
                    object-fit: cover;
                    box-shadow: 0 1.5rem 4rem rgba(0,0,0, .4);
                    z-index: 1;
                    transition: all .2s;
                    outline-offset: 1.5rem;

                    &:hover {
                        transform: scale(1.05) translateY(-.5rem);
                        box-shadow: 0 2.5rem 4rem rgba(0,0,0, .5);
                        z-index: 2;
                        //for that green border wen u hover.. class 37. time 12:00
                        outline: 1.2rem solid rgb(196, 191, 191);
                    }
                }
                
                @media screen and (max-width: 768px){
                    flex-direction: column;

                    .photo {
                        width: 100%;
                        height: 350px;

                        @media screen and (max-width: 480px){
                            height: 50%;
                        }
                    }
                }
            }
    
            &:hover &photo:not(:hover){
                transform: scale(.95);
            }
    
            @media screen and (max-width:1024px) {
                flex-direction: column-reverse;
            }
        }

        .sub-container2 {
            display: flex;
            align-items: flex-start;
            margin-top: 40px;
            color: rgb(9, 85, 9);
            font-size: 1.1rem;

            span {
                margin-left: 10px;

                svg {
                    font-size: 1.5rem;
                    filter: grayscale(1);

                    &:hover {
                        filter: grayscale(0);
                    }
                }
            }
        }
    }
}