.hideOverrflow{
    @media screen and (min-width: 1030px){
        height: 100vh;
        overflow: hidden;
    }
    // height: 100vh;
    // overflow: hidden;
}

.admin_blog {
    width: 85%;
    position: relative;

    .admin_blogBtn {
        margin: 20px;
        width: 90%;
        display: flex;
        justify-content: center;
        
        a {
            width: 100%;
            button {
                width: 100%;
                padding: 10px 5px;
                border-radius: 15px;
                background-color: rgb(74, 74, 229);
                color: #ffff;
                border: none;
                font-size: 1rem;
                cursor: pointer;

                &:hover {
                    background-color: rgb(90, 90, 230);
                }
            }
        }
        
    }

    .blogEdit {
        display: flex;
        justify-content: center;
        margin: 0 auto;
        width: 100%;
        //height: 100vh;
        position: absolute;
        top: 0;
        left: 0;
        background: rgba(255, 255, 255 , 0.25);//0.25 opacity
        backdrop-filter: blur(4px); //blurry
        -webkit-backdrop-filter: blur(4px); //blurry

        .blogEdit__holder {
            margin-top: 10px;
            border-radius: 10px;
            background: rgba(255, 255, 255 , 0.25);//0.25 opacity
            backdrop-filter: blur(4px); //blurry
            -webkit-backdrop-filter: blur(4px); //blurry
            border: 1px solid rgb(229, 228, 228);
            width: 80%;
            height: 90%;
            padding: 20px 30px;

            .blogEdit__topHolder {
                display: flex;
                justify-content: space-between;
                margin-bottom: 20px;

                p {
                    font-weight: 700;
                    font-size: 1.1rem;
                }
                span {
                    svg {
                        color: black;
                        cursor: pointer;
                    }
                }
            }

            form {
                display: flex;
                gap: 40px;
                width: 100%;

                .blogEdit__left{
                    width: 40%;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    .blogEdit__imageHolder {
                        display: flex;
                        align-items: center;
                        gap: 10px;
                        img {
                            width: 300px;
                            height: 200px;
                            object-fit: cover;
                            border-radius: 8px;

                            @media screen and (max-width:456px) {
                                width: 100%;
                            }
                        }

                        label {
                            svg {
                                font-size: 1.6rem;
                                cursor: pointer;
                            }

                            @media screen and (max-width:456px) {
                                label {
                                    margin-right: 10px;
                                }
                            }
                        }

                        @media screen and (max-width:1030px) {
                            margin: 0 auto 40px auto;

                        }
                    }

                    .blogEdit__textHolder {
                        width: 100%;
                        display: flex;
                        flex-direction: column;

                        label {
                            font-weight: 600;
                        }

                        input {
                            border: 1px solid gray;
                            border-radius: 5px;
                            padding: 10px 20px;

                        }
                    }

                    @media screen and (max-width:1030px) {
                        width: 100%;
                    }
                }

                .blogEdit__right{
                    width: 60%;
                    height: 100%;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;

                    .blogEdit__textarea {
                        width: 100%;
                        display: flex;
                        justify-content: center;
                        align-items: center;

                        textarea {
                            width: 100%;
                            border: 1px solid gray;
                            border-radius: 5px;
                            padding: 10px;
                        }
                    }

                    button {
                        font-weight: 700;
                        margin-top: 15px;
                        padding: 10px 0;
                        border-radius: 5px;
                        border: none;
                        background: rgb(59, 59, 195);
                        color: #ffff;
                        width: 100%;
                        cursor: pointer;

                        &:hover {
                            background: rgb(81, 81, 209)
                        }
                    }

                    button:disabled {
                        opacity: 0.65;
                        cursor: progress;
                    }

                    .error {
                        margin-top: 15px;
                        padding: 3px 10px;
                        border-radius: 5px;
                        border: 1px solid rgb(208, 41, 41);
                        background: rgb(245, 230, 230);
                        p {
                            color: rgb(208, 41, 41);
                            text-align: center;
                            font-weight: 500;
                        }
                    }
                    .success {
                        margin-top: 15px;
                        padding: 3px 10px;
                        border-radius: 5px;
                        border: 1px solid green;
                        background: rgb(228, 240, 228);
                        p {
                            color: green;
                            text-align: center;
                            font-weight: 500;
                        }
                    }

                    @media screen and (max-width:1030px) {
                        width: 100%;
                    }
                }

                @media screen and (max-width: 1030px){
                    flex-direction: column;
                }
            }

            @media screen and (max-width:800px){
                width: 100%;
            }
        }
    }

    @media screen and (max-width:900px){
        width: 100%;
    }
}