.selectedMessage {
    width: 100%;
    height: 100vh;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    
    .item_value {
        display: flex;
        gap: 10px;

        .label {
            text-transform: uppercase;
            font-weight: 700;
        }

        .itemValue {
            color: black;
            font-size: 1rem;
            font-weight: 500;
        }
    }
}